global
    log stdout format raw daemon

defaults
    log     global
    mode    http
    option  httplog
    timeout connect 5000ms
    timeout client  50000ms
    timeout server  50000ms

frontend http_front
    bind *:80
    default_backend web_back

backend web_back
    balance roundrobin
    cookie SERVERID insert indirect nocache
    server web1 pollify-app-1:8080 check cookie web1
    server web2 pollify-app-2:8080 check cookie web2
